<div class="dish" [class.border-red]="dishService.isCheapest(dish)"
     [class.border-green]="dishService.isMostExpensive(dish)">
  <div class="img-container"><img [src]="dish.images[0]" [alt]="dish.name"></div>
  <div class="info-container">
    <div class="info">
      <h3 class="name">{{dish.name | uppercase}}</h3>

      <div class="details">
        <h4>{{dish.cuisine | uppercase}}</h4>
        <h4>{{dish.type}}</h4>
        <h4>{{dish.category}}</h4>
      </div>

      <ul>
        <li>Ingredients:</li>
        <li *ngFor="let ingredient of dish.ingredients">
          {{ingredient}}
        </li>
      </ul>

      <app-star-rating [selectedStars]="dishService.getAverageRating(dish)"></app-star-rating>

      <p>{{dish.description}}</p>
    </div>
    <div class="buy">
      <h3>{{dish.price | currency:'USD':'symbol'}}</h3>
      <h5 [class.red]="dishesLeft()<4">Quantity: {{dishesLeft()}}</h5>
      <div class="buy-buttons" [class.hidden]="!(this.userService.canBuy() | async)">
        <button [class.invisible]="!dishesLeft()" (click)="cartService.addDish(dish)">+</button>
        <button [class.invisible]="!dishCount()" (click)="cartService.removeDish(dish)">-</button>
      </div>
    </div>

  </div>
</div>
